<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="/css/main.css" />
		<style>
			h3 {
				white-space: pre-line;
			}
		</style>
	</head>
	<body>
		<div id="header">
			<div id="account_section">
				<img src="/svg/account_icon.svg" id="account" />
			</div>
			<div id="play_section">
				<a href="/play"><button id="play_button">PLAY</button></a>
			</div>
			<div>
				<img src="/svg/logout.svg" id="title_img" />
			</div>
		</div>
		<div id="game">
			<% if (token === "ok") { %>
				<div id="end_crono">Well played</div>
			<% } else if (token === "ko") { %>
				<div id="end_crono">Unlucky</div>
			<% } %>
			<h3 id="quote">"<%= quote %>"</h3>
			<% for (i = 0; i < options.length; i++) { %>
				<% if (options[i] === artist) { %>
					<button class="valid" name="button" value="<%= options[i] %>"><%= options[i] %></button>
				<% } else { %>
					<button class="unvalid" name="button" value="<%= options[i] %>"><%= options[i] %></button>
				<% } %>
			<% } %>
			<div>
				<hr id="hr_menu" />
				<a href="/main"><button id="main_menu">MAIN MENU</button></a>
			</div>
		</div>
		<audio
		controls
		controlsList="nodownload"
		src="/POP SMOKE - FLEXING 0.6s - 2.8s (JfPumJQLr0Q) 961.m4a">
            Your browser does not support the
			<code>audio</code> element.
		</audio>
		<div id="main">
			<div id="text">
				<p class="footer_sections">About us</p>
				<p class="footer_sections">Contact</p>
				<p id="rapguesser">RapGuesser by @jcreux</p>
				<p class="footer_sections">Report a bug</p>
				<p class="footer_sections">Help</p>
			</div>
		</div>
	</body>
</html>